@page "/calendar"
@using CanvasModel.EnrollmentTerms
@using Management.Web.Shared.Module
@using Management.Web.Shared.Semester

@inject CoursePlanner configurationManagement

@code
{
  private SemesterPlanner? semester { get; set; }
  protected override void OnParametersSet()
  {
    if (configurationManagement.SemesterCalendar != null)
      semester = new SemesterPlanner(configurationManagement.SemesterCalendar);
  }

}
<br>

<div class="row">
  <div class="col">
    
    @if (semester != null)
    {
      @foreach (var month in semester.Months)
      {
        <MonthDetail Month="month" Semester="semester" />
        <hr />
      }
    }
  </div>
  <div class="col">
    <Modules />
  </div>
</div>