@page "/"
@using CanvasModel.EnrollmentTerms
@using CanvasModel.Courses
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using LocalModels
@using Management.Web.Pages.Course.Module.ModuleItems
@using Management.Web.Shared.Components

@inject CanvasService canvas
@inject CoursePlanner planner


@code {
  private bool showNewFile { get; set; } = false;
  protected override void OnInitialized()
  {
    planner.LocalCourse = null;
    planner.StateHasChanged += reload;
  }

  private void reload()
  {
    this.InvokeAsync(this.StateHasChanged);
  }

  public void Dispose()
  {
    planner.StateHasChanged -= reload;
  }
  private void NewFileCreated()
  {
    showNewFile = false;
    refreshKey++;
    StateHasChanged();
  }
  private int refreshKey;
}
<PageTitle>Index</PageTitle>

<br>
@if(planner.LocalCourse == null)
{
  <div class="row justify-content-center">
    <div class="col-auto">
      <CurrentFiles RefreshKey="refreshKey" />
    </div>
  </div>

  @if(!showNewFile)
  {
    <div class="text-center">
      <button
        @onclick="@(()=>showNewFile = true)"
        class="btn btn-primary"
      >
        Mange New Course
      </button>
    </div>
  }

  @if(showNewFile)
  {
    <div class="text-center">
      <button
        @onclick="@(()=>showNewFile = false)"
        class="btn btn-primary"
      >
        Hide File Initialization
      </button>
    </div>

    <div class="border rounded bg-dark-subtle p-3 my-3">
      <InitializeNewCourse NewFileCreated="NewFileCreated" />
    </div>
  }
}
<br>


@* <MonacoEditorDemo /> *@
