
@import "tailwindcss";


/* monaco editor */
.monaco-editor-background,
.monaco-editor .margin {
  /* background-color: #020617 !important; */
  background-color: #030712 !important;
  /* background-color: #101828 !important; */
}
.sticky-widget {
  background-color: #111624 !important;
}
.monaco-editor {
  position: absolute !important;
}

.monaco-editor .mtk1 {
  @apply text-slate-300;
}