@using Management.Web.Course.Module.ModuleItems

@inject DragContainer dragContainer
@inject NavigationManager Navigation
@inject PageEditorContext pageContext

@inject MyLogger<PageInDay> logger

@inherits DroppablePage

@code {
  protected override void OnInitialized()
  {
    planner.StateHasChanged += reload;
  }
  private void reload()
  {
    this.InvokeAsync(this.StateHasChanged);
  }
  public void Dispose()
  {
    planner.StateHasChanged -= reload;
  }

  private void HandleDragStart()
  {
    dragContainer.DropCallback = dropCallback;
  }

  private void HandleDragEnd()
  {
    dragContainer.DropCallback = null;
  }

  private void OnClick()
  {
    if(planner.LocalCourse != null)
    {
      pageContext.Page = Page;
      Navigation.NavigateTo("/course/" + planner.LocalCourse.Settings.Name + "/page/" + Page.Name);
      logger.Log("navigating to coursePage page");
    }
  }
}


<li
  draggable="true"
  @ondragstart="HandleDragStart"
  @ondragend="HandleDragEnd"
  @onclick="OnClick"
  role="button"
>
  @Page.Name
</li>
