
@using CanvasModel.EnrollmentTerms
@using Management.Web.Pages.Course.Module
@using Management.Web.Pages.Course.CourseCalendar

@inject ICanvasService canvas
@inject CoursePlanner planner

@code
{
  protected override void OnInitialized()
  {
    planner.StateHasChanged += reload;
  }
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if(firstRender)
    {
      if(
        planner.CanvasAssignments == null
        && planner.LocalCourse != null
        && planner.LocalCourse.Settings.CanvasId != null
      )
      {
        await planner.LoadCanvasData();
      }

    }
  }

  private void reload()
  {
    this.InvokeAsync(this.StateHasChanged);
  }
  public void Dispose()
  {
    planner.StateHasChanged -= reload;
  }
}
<div class="row">
  <div class="col overflow-y-auto border rounded " style="max-height: 95vh;">
    @if (planner.LocalCourse != null)
    {
      <div class="py-2">

        @foreach (var month in SemesterPlanner.GetMonthsBetweenDates(planner.LocalCourse.Settings.StartDate, planner.LocalCourse.Settings.EndDate))
        {
          <MonthDetail Month="month" />
          <hr />
        }
      </div>
    }
  </div>
  <div class="col-4  overflow-y-auto" style="max-height: 95vh;">
    <Modules />
  </div>
</div>
