:root {
  /* --spinner-size-1: 48px;
  --spinner-size-2: 32px; */
  --spinner-size-1: 33px;
  --spinner-size-2: 22px;
  /* --spinner-size-3: 40px; */

  --spinner-color-1: #305576;
  --spinner-color-2: #714199;
}

.loader {
  width: var(--spinner-size-1);
  height: var(--spinner-size-1);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: var(--spinner-color-1) var(--spinner-color-1) transparent
    transparent;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent var(--spinner-color-2)
    var(--spinner-color-2);
  /* width: var(--spinner-size-3);
  height: var(--spinner-size-3); */
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
/* var(--spinner-color-2) */
/* #3a0647 */
.loader::before {
  width: var(--spinner-size-2);
  height: var(--spinner-size-2);
  border-color: var(--spinner-color-1) var(--spinner-color-1) transparent
    transparent;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
