@using Management.Web.Shared.Module.Assignment
@using LocalModels

@inject CoursePlanner configurationManagement

@code {
  [Parameter, EditorRequired]
  public LocalModule Module { get; set; } = default!;

  private bool showAddAssignment { get; set; } = false;

}


<h3 class="text-center">@Module.Name</h3>
<button 
  class="btn btn-primary" 
  @onclick="() => showAddAssignment = true"
>
  Add Assignment
</button>

@if (showAddAssignment)
{
  <NewAssignment ModuleName="Module.Name" OnSubmit="() => showAddAssignment = false" />
}

<h5>Assignments</h5>
<div class="row">

@* @foreach (var a in module.Assignments)
{
  <AssignmentCard assignment="a" />
} *@
</div>
