@using Management.Web.Shared.Components

@inject CoursePlanner planner
@code {

  [Parameter]
  [EditorRequired]
  public LocalModule Module { get; set; } = default!;

  [Required]
  [StringLength(50, ErrorMessage = "Name too long (50 character limit).")]
  private string Name { get; set; } = "";

  private Modal? modal { get; set; } = null;

  private void submitHandler()
  {
    Console.WriteLine("new quiz");
    var newQuiz = new LocalQuiz
    {
      Name=Name,
      Description = "",
    };
    if(planner.LocalCourse != null)
    {
      var newModules = planner.LocalCourse.Modules.Select(m => 
        m.Name != Module.Name 
          ? m 
          : Module with 
          {
            Quizzes=Module.Quizzes.Append(newQuiz)
          }
        );
      planner.LocalCourse = planner.LocalCourse with 
      {
        Modules=newModules
      };
    }
    modal?.Hide();
  }
}

<button
  class="btn btn-outline-secondary"
  @onclick="() => modal?.Show()"
>
  + Quiz
</button>

<Modal @ref="modal">
  <Title>New Quiz</Title>
  <Body>
    <form @onsubmit:preventDefault="true" @onsubmit="submitHandler">
      <label for="Assignment Name">Name</label>
      <input id="moduleName" class="form-control" @bind="Name" />
    </form>
  </Body>
  <Footer>
    <button
      class="btn btn-primary"
      @onclick="submitHandler"
    >
      CreateQuiz
    </button>
  </Footer>
</Modal>