@using Management.Web.Shared.Module.Assignment

@inject DragContainer dragContainer
@inject CoursePlanner planner
@inject AssignmentEditorContext assignmentContext

@inherits DroppableAssignment

@code {
  protected override void OnInitialized()
  {
    planner.StateHasChanged += reload;
  }
  private void reload()
  {
    this.InvokeAsync(this.StateHasChanged);
  }
  public void Dispose()
  {
    planner.StateHasChanged -= reload;
  }

  private void HandleDragStart()
  {
    dragContainer.DropCallback = DropCallback;
  }

  private void HandleDragEnd()
  {
    dragContainer.DropCallback = null;
  }
}

<div
  draggable="true"
  @ondragstart="HandleDragStart"
  @ondragend="HandleDragEnd"
  @onclick="@(() => assignmentContext.Assignment = Assignment)"
  role="button"
>
  @Assignment.Name
</div>
