@using Management.Web.Shared.Module.Assignment

@inject DragContainer dragContainer
@inject CoursePlanner planner
@inject NavigationManager Navigation
@inject AssignmentEditorContext assignmentContext

@inject ILogger<AssignmentInDay> logger
@inherits DroppableAssignment

@code {
  protected override void OnInitialized()
  {
    planner.StateHasChanged += reload;
  }
  private void reload()
  {
    this.InvokeAsync(this.StateHasChanged);
  }
  public void Dispose()
  {
    planner.StateHasChanged -= reload;
  }

  private void HandleDragStart()
  {
    dragContainer.DropCallback = DropCallback;
  }

  private void HandleDragEnd()
  {
    dragContainer.DropCallback = null;
  }

  private void OnClick() 
  {
    if(planner.LocalCourse != null)
    {
      assignmentContext.Assignment = Assignment;
      Navigation.NavigateTo("/course/" + planner.LocalCourse.Settings.Name + "/assignment/" + Assignment.Id);
      logger.LogInformation("navigating to assignment page");
    }
  }
}

<li
  draggable="true"
  @ondragstart="HandleDragStart"
  @ondragend="HandleDragEnd"
  @onclick="OnClick"
  role="button"
>
  @Assignment.Name
</li>
