@using Management.Web.Shared.Components.Quiz
@inject DragContainer dragContainer
@inject CoursePlanner planner
@inject QuizEditorContext quizContext

@inherits DroppableQuiz

@code {

  private void HandleDragStart()
  {
    dragContainer.DropCallback = dropCallback;
  }

  private void HandleDragEnd()
  {
    dragContainer.DropCallback = null;
  }
}

<div
  draggable="true"
  @ondragstart="HandleDragStart"
  @ondragend="HandleDragEnd"
  @onclick="@(() => quizContext.Quiz = Quiz)"
  role="button"
>
  @Quiz.Name
</div>