@using Management.Web.Shared.Components


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Name { get; set; } = default!;

    [Parameter, EditorRequired]
    public bool IsSyncedWithCanvas { get; set; } = default!;
}


<div class="card">
  <div class="card-body p-0">
    <div class="card-title pt-2 px-2 m-0 d-flex justify-content-between">
      <h4>@Name</h4>
        @if(IsSyncedWithCanvas)
        {
          <CheckIcon />
        }
        else
        {
          <SyncIcon />
        }
    </div>
    @ChildContent
  </div>

</div>
