
@using CanvasModel.EnrollmentTerms
@using Management.Web.Shared.Module
@using Management.Web.Shared.Semester

@inject CoursePlanner planner

<br>

<div class="row">
  <div class="col">
    
    @if (planner.LocalCourse != null)
    {
      @foreach (var month in SemesterPlanner.GetMonthsBetweenDates(planner.LocalCourse.StartDate, planner.LocalCourse.EndDate))
      {
        <MonthDetail Month="month" />
        <hr />
      }
    }
  </div>
  <div class="col">
    <Modules />
  </div>
</div>