@using LocalModels

@inject IFileStorageManager fileStorageManager
@inject CoursePlanner planner
@inject NavigationManager Navigation
@inject MyLogger<CurrentFiles> logger

@code
{
  [Parameter]
  public int RefreshKey { get; set; }
  public IEnumerable<LocalCourse>? localCourses { get; set; }
  protected override async Task OnParametersSetAsync()
  {
    localCourses = await fileStorageManager.LoadSavedCourses();
  }

  void handleClick(MouseEventArgs e, LocalCourse course)
  {
    planner.LocalCourse = course;
    Navigation.NavigateTo("/course/" + course.Settings.Name);
  }
}

<div class="">
  @if (localCourses != null)
  {
    <h3 class="text-center mb-3">Stored Courses</h3>
    @foreach (var course in localCourses)
    {
      var location = "/course/" + course.Settings.Name;
      <div>
        <div class=" fs-4 text-start mb-3 hover-underline-animation" @onclick="(e) => handleClick(e, course)" role='button'>
          @course.Settings.Name
        </div>
      </div>
    }
  }
</div>
