@using LocalModels

@inject YamlManager yamlManager
@inject CoursePlanner planner

@code
{
  [Parameter]
  public int RefreshKey { get; set; }
  public IEnumerable<LocalCourse>? localCourses { get; set; }
  protected override async Task OnParametersSetAsync()
  {
    localCourses = await yamlManager.LoadSavedCourses();
  }

}

<div class="text-center">

  @if (localCourses != null)
  {
    <h3 >Stored Courses</h3>
    @foreach (var course in localCourses)
    {
      <h4 
        class="m-3 hover-underline-animation"  
        @onclick="() => planner.LocalCourse = course" 
        role='button'
      >
        @course.Name
      </h4>
    }
  }
</div>