@using LocalModels

@inject YamlManager yamlManager
@inject CoursePlanner planner
@inject NavigationManager Navigation
@inject ILogger<CurrentFiles> logger

@code
{
  [Parameter]
  public int RefreshKey { get; set; }
  public IEnumerable<LocalCourse>? localCourses { get; set; }
  protected override async Task OnParametersSetAsync()
  {
    localCourses = await yamlManager.LoadSavedCourses();
  }

  void handleClick(MouseEventArgs e, LocalCourse course)
  {
    @* logger.LogInformation("here"); *@
    planner.LocalCourse = course;
    Navigation.NavigateTo("/course/" + course.Settings.Name);
    Console.WriteLine("navigated to course detail");
  }
}

<div class="text-center">
  @if (localCourses != null)
  {
    <h3>Stored Courses</h3>
    @foreach (var course in localCourses)
    {
      var location = "/course/" + course.Settings.Name;
      <div>
        <h4 class="m-3 hover-underline-animation" @onclick="(e) => handleClick(e, course)" role='button'>
          @course.Settings.Name
        </h4>

      </div>
    }
  }
</div>