@using LocalModels

@inject YamlManager yamlManager
@inject CoursePlanner planner

@code 
{
  public IEnumerable<LocalCourse> localCourses { get; set; }
  protected override async Task OnInitializedAsync()
  {
    localCourses = await yamlManager.LoadSavedCourses();
  }

  

}

@if(localCourses != null)
{
  <h3>Stored Courses</h3>
  @foreach (var course in localCourses)
  {
    void SetCourse()
    {
      planner.LocalCourse = course;
      this.StateHasChanged();
    }
    <div>
      <button 
        class="btn btn-outline-primary"
        @onclick="@SetCourse"
      >
        Use
      </button>
      @course.Name
    </div>
  }
}